.popup__submit-button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background: #000000;
    border: 0;
    border-radius: 2px;
    width: 100%;
    min-height: 50px;
    margin: 48px auto 0;
    padding: 0 ;
    display: block;
    box-sizing: border-box;
    cursor: pointer;
}

.popup__submit-button:hover {
    opacity: 0.8;
}