.profile__description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    margin: 0;
}

@media screen and (max-width: 880px) {
    .profile__description {
        font-size: calc( (100vw - 320px)/(880 - 320) * (18 - 14) + 14px);
        line-height: calc( (100vw - 320px)/(880 - 320) * (22 - 17) + 17px);
    }
}