.like {
    margin-bottom: 4px;
    background-image: url(../../../images/Group-element.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 22px;
    height: 19px;
}

.like:hover {
    background-image: url(../../../images/like-hover.png);
    cursor: pointer;
    opacity: 0.5;
}


.like:active {
    background-image: url(../../../images/like-active.png);
    opacity: 1;
}