.popup__label {
    display: block;
    width: 100%;
    min-height: 27px;
    position: relative;
    margin: 0 auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__label:first-of-type {
    margin-bottom: 30px;
}